@page
@model DataDashboardWeb.Pages.Dashboard.Topics.DevelopmentStrategyModel
@{
    ViewData["Title"] = "Development strategy";
    Layout = "~/Pages/_DashboardLayout.cshtml";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>Combining the old and the new to maximise the value of both</p>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="viewDataDropdown">
                        Please select the data that you would like to view
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/Dashboard/Questions/Question13">Key considerations to an application development strategy</a></li>
                        <li><a href="/Dashboard/Questions/Question12">Barriers to developing applications within an organisation</a></li>
                        <li><a href="/Dashboard/Questions/Question17">Ownership roles of application development</a></li>
                        <li><a href="/Dashboard/Questions/Question41">Key target audience groups in the next 12-18 months</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-right">

                <div class="audio-overview-label">Listen to insight</div>
                <div class="mediPlayer audio-overview-player">
                    <audio class="listen" preload="none" data-size="35" src="~/audio/development-strategy.mp3"></audio>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <div class="info-box info">
            <i class="fa fa-list-ol"></i>
            @*<div class="count"></div>*@
            <div class="title">Security, usability, and speed of development</div>
            <div class="desc">Top 3 considerations for a development strategy</div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="info-box info">
            <i class="fa fa-exclamation-triangle"></i>
            @*<div class="count"></div>*@
            <div class="title">Developer skills shortage</div>
            <div class="desc">Number 1 barrier facing development strategy</div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="info-box info">
            <i class="fa fa-user"></i>
            @*<div class="count"></div>*@
            <div class="title">Chief Technology Officer</div>
            <div class="desc">Number 1 owernship role of development strategy</div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <h4>Overview</h4>

        <p>Organisations want to innovate at speed, and understand that the future will require a mix of both traditional IT and new technologies and processes. That means being able to deliver solutions themselves, rather than through third parties. The result is that IT functions are recruiting skills that support the ambitions of Digital Transformation – not just developers but new roles in Product Ownership and UX. They are restructuring and adopting new technologies and processes.</p> 
        <p>While, at the same time, the success metrics by which IT is measured are being more aligned with business outcomes. There is also a demand from within business for more applications that support its transformation goals.</p>

        <div class="well">
            Find out more by reading this topic in the Discovered Insights Companion Report or listen to the same content by clicking on "Listen to insight" above.
        </div>

    </div>
    <div class="col-md-6">

        <h4>CIC insight</h4>

        <p>Creative Intellect Consulting has a number of resources available on this topic, including the following:</p>

        <div class="list-group">
            <a class="list-group-item" target="_blank" href="https://www.creativeintellectuk.com/download-from-cic/cloud/what-does-it-take-to-make-the-right-application-development-choices-for-the-digital-economy/">
                <h4 class="list-group-item-heading">What does it take to make the right Application Development choices for the digital economy?</h4>
                <p class="list-group-item-text">Briefing note</p>
            </a>
            <a class="list-group-item" target="_blank" href="https://www.creativeintellectuk.com/download-from-cic/cloud/seven-core-market-and-technology-trends-impacting-the-application-server-estate/">
                <h4 class="list-group-item-heading">Seven core market and technology trends impacting the Application Server estate</h4>
                <p class="list-group-item-text">Briefing note</p>
            </a>
            <a class="list-group-item" target="_blank" href="https://www.creativeintellectuk.com/download-from-cic/podcasts-and-videos/supporting-the-developer-community-for-the-future/">
                <h4 class="list-group-item-heading">Supporting the Developer Community for the Future</h4>
                <p class="list-group-item-text">Podcast</p>
            </a>
            <a class="list-group-item" target="_blank" href="https://www.creativeintellectuk.com/download-from-cic/podcasts-and-videos/no-excuses-for-a-crappy-app/">
                <h4 class="list-group-item-heading">No Excuses for a ‘Crappy’ App</h4>
                <p class="list-group-item-text">Podcast</p>
            </a>
        </div>

        <small>Links will take you to the CIC website.</small>

    </div>
</div>


@section Scripts {

    <script>

        $(function () {
            SetTopicNavigation("@ViewData["Title"]");
        });

        $('.mediPlayer').mediaPlayer();

    </script>

}
