<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta name="author" content="Discovered Insights" />

    <title>@ViewData["Title"] - Discovered Insights</title>

    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/favicon-apple-touch-small.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon-apple-touch-medium.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon-apple-touch-large.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon-apple-touch-x-large.png" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/cookieconsent/dist/css/cookieconsent.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/dist/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
        <link rel="stylesheet" href="~/css/styles.min.css" />
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
    </environment>

    <style>
        body {
            padding-top: 50px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">Discovered Insights</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Login"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
                    <li><a asp-page="/Subscribe"><i class="fas fa-user"></i> Subscribe</a></li>
                    <li><a asp-page="/Contact"><i class="fas fa-envelope"></i> Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://twitter.com/discoinsights" target="_blank"><i class="fab fa-twitter"></i> Follow us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2018 - Discovered Insights</p>
                </div>
                <div class="col-md-6">
                    <p class="pull-right">
                        <a href="/TermsAndConditions">Terms and Conditions</a> |
                        <a href="/PrivacyPolicy">Privacy Policy</a> |
                        <a href="/CookiesPolicy">Cookies Policy</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/chart.js/dist/Chart.min.js"></script>
        <script src="~/lib/cookieconsent/dist/js/cookieconsent.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    </environment>

    <script type="text/javascript">
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#aa0000",
                        "text": "#ffdddd"
                    },
                    "button": {
                        "background": "#ff0000"
                    }
                },
                "content": {
                    "message": "This website requires the use of cookies in order to provide access to subscription data.",
                    "href": "/CookiesPolicy"
                }
            })
        });
    </script>

    <script type="text/javascript">

        window.document.onkeydown = function (e) {
            if (!e) {
                e = event;
            }
            if (e.keyCode == 27) {
                lightbox_close();
            }
        }

        function lightbox_open(videoUrl) {

            // Set the video
            $('#light video source').attr('src', videoUrl);
            $("#light video")[0].load();

            // Show the video lightbox
            var lightBoxVideo = document.getElementById("promoVideo");

            // Size the video
            var width = $(document.getElementById('jumbotron')).width();
            var height = Math.round(width * 0.625);
            $(lightBoxVideo).width(width);
            $(lightBoxVideo).height(height);

            // Position the video
            var top = Math.round(($(window).height() - height) / 2);
            var left = Math.round(($(window).width() - width) / 2);
            $(document.getElementById('light')).css('top', top+'px');
            $(document.getElementById('light')).css('left', left + 'px');

            window.scrollTo(0, 0); // Scroll back to top of screen

            // Show the screen fade and the video
            $(document.getElementById('light')).css("display", "block");
            $(document.getElementById('fade')).css("display", "block");            

            lightBoxVideo.play(); // Play the video

        }

        function lightbox_close() {

            // Close the video lightbox
            // hide the screen fade and the video
            $(document.getElementById('light')).css("display", "none");
            $(document.getElementById('fade')).css("display", "none"); 

            var lightBoxVideo = document.getElementById("promoVideo");
            lightBoxVideo.pause(); // Pause the video

        }

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>

