@page
@model DataDashboardWeb.Pages.HowToModel
@{
    ViewData["Title"] = "How To... get the most from Discovered Insights";
    ViewData["MetaDescription"] = "Watch this video to see how you can get the most from a Discovered Insights subscription.";
}

<h2>How To... get the most from Discovered Insights</h2>

<hr />

<div class="row">
    <div class="col-md-8">

        <video id="howtoVideo" width="90%" controls>
            <source src="~/video/get-the-most-from-discovered-insights.mp4" type="video/mp4">
            Browser does not support video tag
        </video>

    </div>
    <div class="col-md-4">

        <p class="lead">In this video we explore 3 common ways in which you can use Discovered Insights in order to help your organisation.</p>
        <p class="lead">If you have any questions about Discovered Insights please <a href="/Contact">contact us</a>.</p>

    </div>
</div>