@page
@model DataDashboardWeb.Pages.TopicAreasModel
@{
    ViewData["Title"] = "Topic Areas";
    ViewData["MetaDescription"] = "All data within Discovered Insights is arranged into these topic areas.";
}

<h2>Topic Areas</h2>

<p>
    All data within the portal is arranged into 11 topic areas that are outlined below.
</p>

<hr />

<div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Digital transformation</h4>
        In this topic, we address questions such as: What do organisations see as the key attributes and core considerations of their Digital Transformation strategy? Who has ownership of that strategy? What are primary business and technical barriers to delivering change?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/digital-transformation.png" width="400" style="float: right;" />

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/development-strategy.png" width="400" />

    </div>
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Development strategy</h4>
        In this topic, we address questions such as: What are the key considerations to a development strategy? What are the challenges that organisations face? Who are the primary roles involved in delivering on the strategy?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Technology and methodology</h4>
        In this topic, we address questions such as: What technologies are organisations using? What types of tools support Digital Transformation? Who are the owners and influencers with respect to technology choices? What methodologies are being adopted?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/technology-and-methodology.png" width="400" style="float: right;" />

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/development-languages.png" width="400" />

    </div>
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Development languages</h4>
        In this topic, we address questions such as: What are the key attributes and considerations of a programming language? What languages are organisations using? What languages are used to support different delivery platforms?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Professional developers</h4>
        In this topic, we address questions such as: How many developers are organisations employing? What typical previous technology experiences do developers have? How long have developers typically been working?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>
    </div>
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/professional-developers.png" width="400" style="float: right;" />

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/non-professional-developers.png" width="400" />

    </div>
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Non-professional developers</h4>
        In this topic, we address questions such as: What is the level of interest in empowering non-professional developers? What benefits can non-professional developers bring to an organisation? What are the benefits and challenges of tools aimed at non-professional developers?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Mobile development strategy</h4>
        In this topic, we address questions such as: What are the key considerations to a mobile development strategy? What roles have ownership of mobile development? What about future development for devices such as wearables?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/mobile-development-strategy.png" width="400" style="float: right;" />

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/mobile-app-strategy.png" width="400" />

    </div>
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Mobile app strategy</h4>
        In this topic, we address questions such as: What business functions are apps being built for? How many apps are organisations building for internal vs external use? What are the barriers to a mobile app strategy? What plans do organisations have for future mobile apps?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Mobile technology strategy</h4>
        In this topic, we address questions such as: What technologies are organisations using to support mobile development? What mobile platforms are organisations supporting? What plans do organisations have for mobile technology in the future?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/mobile-technology-strategy.png" width="400" style="float: right;" />

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/cloud.png" width="400" />

    </div>
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Cloud</h4>
        In this topic, we address questions such as: What Clouds are organisations using and in what capacity? What are the key attributes of a Cloud vendor? How is Cloud being used to support mobile app development?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">

        <h4>Application strategy</h4>
        In this topic, we address questions such as: What types of applications are organisations developing and where in the business are they being deployed? What is key to building applications that support Digital Transformation? What are the key drivers for an API strategy?
        <br /><br />
        <a href="/Subscribe">Subscribe to access the data</a>

    </div>
    <div class="col-md-5 hidden-xs hidden-sm">

        <img src="~/images/topics-screenshots/application-strategy.png" width="400" style="float: right;" />

    </div>
</div>