@page
@model DataDashboardWeb.Pages.Dashboard.FirstTimeModel
@{
    ViewData["Title"] = "First Time Guide";
    Layout = "~/Pages/_DashboardLayout.cshtml";
}

<h2>First Time Guide</h2>

<p>First time visitors may find the following information useful.</p>

<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-4">

        <h4>Topic areas</h4>
        <p>
            All data is grouped into Topic Areas. Select one from the dropdown (above, next to the Discovered Insights logo) to view the data available in that topic. The Companion Report is structured into these same Topic Areas for easy reference.
        </p>

    </div>
    <div class="col-md-4">

        <h4>Datasets</h4>
        <p>
            When viewing a Topic Area (or dataset) you will see a dropdown of datasets. Select a dataset in order to view its data and charts.
        </p>

    </div>
    <div class="col-md-4">

        <h4>Download charts</h4>
        <p>
            All charts can be downloaded as images. These can be placed in presentations and documents, and resized as required. Downloaded charts will reflect any applied filters.
        </p>
        <p><small>Downloading charts works on mobile devices however we recommend using devices with larger screens.</small></p>

    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <h4>Filters</h4>
        <p>
            Data can be filtered by geography, industry and company size. Simply click on the 'Filter' option at the top of the screen. Any filter selections will then be applied to all datasets until they are changed, cleared or the next time you visit Discovered Insights.
        </p>
        <p><small>Applying filters reduces the volume of data available to each dataset. In some cases there may be no data available for certain datasets.</small></p>

    </div>
    <div class="col-md-4">

        <h4>Listen to insights</h4>
        <p>
            Click on the "Listen to insights" button to listen to the appropriate Topic Area insights from the "Discovered Insights 2018 Companion Report: Understanding Digital Transformation".
        </p>

    </div>
    <div class="col-md-4">

        <h4>Need help?</h4>
        <p>
            If you experience problems viewing data please click on 'Contact' at the top of the screen and send us a help request. We will endeavour to reply within 24 hours or the next working day.
        </p>

    </div>
</div>